{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch de Acceso {{id}}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">     
    <script src="{% static 'js/estilo_sw.js' %}" defer></script>
</head>
<body>
    <header>
        <h1>Switch de Acceso {{id}}</h1>
        <nav>
            <a href="{% url 'index' %}">Topologia</a>
        </nav>
    </header>

    <div id="main">
        <h2>Opciones de configuración</h2>
        
        <div class="main-buttons-container">
            <button type="button" id="btn-show-interfaces">Ingresar a interfaces</button>
        </div>

        <div id="interfaces" class="hidden">
            <h3>Configuración de Interfaces</h3>
            
            <div id="interface-type-menu">
                <button type="button" id="btn-unica">Interfaz Única</button>
                <button type="button" id="btn-rango">Rango de interfaces</button>
            </div>

            <form id="config-unica" class="hidden sub-config-section"
            action="" method="POST">
                {% csrf_token %}
                <hr>
                <h4>Interfaz Única</h4>
                <label>Tipo de interfaz:</label>
                <input type="radio" name="tipoInt" id="giga1"><label for="giga1">Gigabit</label>
                <input type="radio" name="tipoInt" id="fast1"><label for="fast1">FastEthernet</label>
                <label class="label-with-margin">Número:</label>
                <input type="number" name="numInterfaz" min="1" max="24" class="input-short" placeholder="1-24"><br><br>
                
                <button type="button" id="btn-siguiente-unica">Siguiente</button>
                <button type="button" class="btn-regresar secondary">Regresar</button>
                <div id="config-disponible" class="hidden">
                    <hr class="hr-separator">
                    <h3>Configuraciones Disponibles</h3>
                    
                    <h4>Estado</h4>
                    <input type="radio" name ="estado" id="hab-unica"><label for="hab-unica">Habilitar</label>
                    <input type="radio" name ="estado" id="des-unica"><label for="des-unica">Deshabilitar</label>
                    
                    <h4>Modo</h4>
                    <input type="radio" name="modo" id="acc-unica"><label for="acc-unica">Acceso</label>
                    <input type="radio" name="modo" id="trunk-unica"><label for="trunk-unica">Troncal</label>
                    <br><br>
                    
                    <h4>Acceso a VLAN</h4>
                    <input type="text" name="vlanAcceso" id="vlan-unica" class="input-full-width" placeholder="Número de VLAN"><br><br>
                    <div class="footer-buttons">
                        <button type="submit" class="button-full-width">Aplicar Cambios</button>
                    </div>
                </div>
            </form>

            <form id="config-rango" class="hidden sub-config-section"
            action="" method="POST">
                {% csrf_token %}
                <hr>
                <h4>Rango de Interfaces</h4>
                <label>Tipo de interfaz:</label>
                <input type="radio" name="tipoIntRango" id="giga2"><label for="giga2">Gigabit</label>
                <input type="radio" name="tipoIntRango" id="fast2"><label for="fast2">FastEthernet</label><br><br>
                <label>Del:</label><input type="number" name="intRangInicio" min="1" max="24" class="input-short" placeholder="1-24 ">
                <label>Al:</label><input type="number" name="intRangFin" min="1" max="24" class="input-short" placeholder="1-24">
                
                <button type="button" id="btn-siguiente-rango">Siguiente</button>
                <button type="button" class="btn-regresar secondary">Regresar</button>
            

                <div id="range-disp-config" class="hidden">
                    <hr class="hr-separator">
                    <h3>Configuraciones Disponibles</h3>
                    
                    <h4>Estado</h4>
                    <input type="radio" name ="estado" id="hab-rango"><label for="hab-rango">Habilitar</label>
                    <input type="radio" name ="estado" id="des-rango"><label for="des-rango">Deshabilitar</label>
                    
                    <h4>Modo</h4>
                    <input type="radio" name="modo" id="acc-rango"><label for="acc-rango">Acceso</label>
                    <input type="radio" name="modo" id="trunk-rango"><label for="trunk-rango">Troncal</label>
                    <br><br>
                    
                    <h4>Acceso a VLAN</h4>
                    <input type="text" name="vlanAcceso" id="vlan-rango" class="input-full-width" placeholder="Número de VLAN"><br><br>
                    <div class="footer-buttons">
                        <button type="submit" class="button-full-width">Aplicar Cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="div-console">
        <h2>Configuraciones Actuales de Puertos</h2>

    </div>
</body>
</html>