{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlan Manager</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=1.0">     

</head>
<body>
     <header>
        <h1>Topologia</h1>
        <nav>
            <a href="{% url 'index' %}">Topologia</a>
            <a href="">Syslog</a>
        </nav>
    </header>
    <main>
        <div id="routers">
            <img src="{% static 'resources/switch.png' %}" class="device">
            <a href=""><img src="{% static 'resources/router.png' %}" class="device"></a>
            <a href=""><img src="{% static 'resources/router.png' %}" class="device"></a>
            <img src="{% static 'resources/switch.png' %}" class="device">
        </div>
        <div id="distribution">
            <a href="{% url 'multilayer' 1 %}"><img src="{% static 'resources/multilayer.png'%}" class="device"></a>
            <a href="{% url 'multilayer' 2 %}"><img src="{% static 'resources/multilayer.png'%}" class="device"></a>
        </div>
        <div id="accessLayer">
            <a href={% url 'access' 1%}><img src="{% static 'resources/switch.png' %}" class="device"></a>
            <a href={% url 'access' 2%}><img src="{% static 'resources/switch.png' %}" class="device"></a>
        </div>
    </main>
</body>
</html>