{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch Multicapa {{id}}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=1.2">     
    <script src="{% static 'js/estilo.js' %}" defer></script>


</head>
<body>
    <header>
        <h1>Switch Multicapa {{id}}</h1>
        <nav>
            <a href={% url 'index' %}>Topologia</a>
        </nav>
    </header>
    
    <div id="main">
        <h2>Opciones de configuración</h2>
        
        <div class="main-buttons-container">
            <button type="button" id="btn-show-vlans">Administración de VLANs</button>
        </div>

        <div id="vlans" class="hidden">
            <h3>Gestión de VLANs</h3>
            
            <div id="vlan-type-menu">
                <button type="button" id="btn-crear-vlan">Crear VLAN</button>
                <button type="button" id="btn-eliminar-vlan" class="button-delete">Eliminar VLAN</button>
            </div>

            <form id="config-crear-vlan" class="hidden"
            action="{% url 'create_vlan' id %}" method="POST">
                {% csrf_token %}
                <hr>
                <h4>Crear VLAN</h4>
                <label>Número de VLAN (1-255):</label>
                <input type="number" name="numVLAN" min="1" max="255" class="input-full-width"><br>
                
                <label>Nombre de VLAN:</label>
                <input type="text" name="nomVLAN" class="input-full-width"><br><br>
                
                <div class="footer-buttons-split">
                    <button type="button" class="btn-vlan-regresar secondary">Regresar</button>
                    <button type="submit">Crear y Aplicar</button>
                </div>
            </form>

            <form id="config-eliminar-vlan" class="hidden"
            action="{% url 'delete_vlan' id %}" method='POST'>
                {% csrf_token %}
                <hr>
                <h4>Eliminar VLAN</h4>
                <label>Numero de VLAN a Eliminar:</label>
                <input type="number" name="numVLANElim" min="1" max="4094" class="input-full-width"><br><br>
                
                <div class="footer-buttons-split">
                    <button type="button" class="btn-vlan-regresar secondary">Regresar</button>
                    <button type="submit" class="button-delete">Eliminar y Aplicar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="div-console">
        <h2>Configuraciones Actuales</h2>
        <div class="tabs">
            <button class="tab active" data-target="#puertos">Puertos</button>
            <button class="tab" data-target="#vlans">VLANs</button>
        </div>

        <div class="content">
            <div class="tab-panel active" id="tab-puertos"></div>

            <div class="hidden" id="tab-vlans">
                {% for vlan in actVlans %}
                    {% if vlan %}
                        <h3> VLAN {{ vlan.vlan_id }}: {{ vlan.name }}</h3>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> 

</body>
</html>

<script>
    const deviceId = {{id}}
</script>
<script src="{% static 'js/polling.js' %}"></script>